.Table {
  width: 100%;
  font-size: 0.93em;
  position: relative;
  border-spacing: 1px;
  border-collapse: separate;
  z-index: 1;
  margin: 2em 0;
}

.EmptyData {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Paginator {
  margin-top: 3em;
  z-index: 0;
  display: flex;
  justify-content: space-between;
}

.PaginatorSelector {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.PaginatorSelector > * {
  margin: 0 0.25em;
}

.Head {
  color: #798386;
}

.Cell {
  padding: 0.25em 0.75em;
  height: 3.57em;
}

.HeadCell {
  padding: 1em 0.75em;
  text-align: left;
  font-size: 0.89em;
  /*background: #eee;*/
}

.HeadCellHasChildren {
  border-bottom: 1px solid #e4f4e8;
}

.HeadCellRightDelimeter {
  border-right: 1px solid #e4f4e8;
}

.HeadCellCaption {
  display: inline-block;
  width: 80%;
}

.RepeatPop {
  margin-right: 1em;
}

.Repeat:hover,
.Confirm:hover {
  color: #006ad2;
}

.Repeat:disabled,
.Confirm:disabled {
  color: #adb5b8;
}
.Undo:hover,
.Cancel:hover,
.Delete:hover {
  color: #db241a;
}

.Row {
  cursor: pointer;
}
.Row:nth-child(odd) {
  background: #f4f5f6;
}
.Row:hover {
  outline: 1px solid #dcdcdc;
  outline-offset: -1px;
}

.EditRow {
  background: #ebf5ff !important;
  outline: 1px solid #99ccff !important;
  outline-offset: -1px;
  z-index: 1;
}

.RowGrouped {
  /*background: #dcdcdc;*/
}

.RowGrouped:nth-child(odd) {
  /*background: #c3c3c3;*/
}

.RowExpanded {
  /*outline: 1px solid #00ff00;
  outline-offset: 2px;*/
}

.Select {
  min-width: 150px;
}

.Width1 {
  width: 2em;
}
.Width2 {
  width: 4.5em;
}
.Width3 {
  width: 6em;
}
.Width4 {
  width: 8em;
}
.Width5 {
  width: 10em;
}
.Width6 {
  width: 12em;
}
